
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


body {
	background-color: #F6F6F6;
}




/* MAIN DATASET CARD AND ADDRESS*/



.card-address {
	width: 55%;
	height: auto;
	margin-left: 15vw;
	margin-top: 20vh;
}

.relative-address {
	margin: 0;
	margin-left: 30px;
	margin-bottom: 20px;
	font-family: "Roboto Mono";
	font-size: 15px;
	font-weight: 400;
}

.relative-address a {
	text-decoration: none;
	color: black;
}

.relative-address a:hover {
	font-weight: 700;
}

.dataset-card {
	background-color: #2F2F2F;
	border-radius: 25px;
	position: relative;
	transition: 0.2s;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
				0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11), 
				0 6px 8px rgba(0,0,0,0.11),
				0 8px 16px rgba(0,0,0,0.11);
}

.dataset-card:hover {
	transition: 0.2s;
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			 	26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07);
}

.dataset-card h3, 
.dataset-card h2 {
	color: white;
	font-weight: 400;
	margin: 0;
	margin-left: 50px;
}

.dataset-card h2 {
	font-family: "Roboto Mono";
	font-size: 22px;
	padding-top: 30px;
	font-weight: 700;
}

.dataset-card h3 {
	font-family: "Lato";
	font-size: 15px;
	margin-top: 30px;
	width: 80%;
}


.card-vote {
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 40px;
	top: 20px;
}

.score_button {
	background-color: transparent;
	outline: none;
	border: none;
}

.upvote {
	transform:rotate(180deg);
}

.upvote,
.downvote {
	margin-right: 10px;
	cursor: pointer;
}

.card-vote p {
	color: white;
	font-family: "Lato";
	font-weight: 300;
	font-size: 15px;
}

.bottom {
	display: flex;
	flex-direction: row;
}

.link-background {
	width: 250px;
	height: 30px;
	background-color: #484848;
	border-radius: 30px;
	margin-top: 40px;
	margin-left: 50px;
	margin-bottom: 25px;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	outline: none;
	border: none;
}

.link-background:active {
	background-color: #585858;
}


.link-background p {
	color: white;
	font-family: "roboto mono";
	font-weight: 400;
	font-size: 13px;
	margin: 0;
	margin-top: 5px;
	margin-left: 25px;
	user-select: none;
	width: auto;
}

.link-background img {
	margin-left: 30px;
	margin-top: 5px;
	height: 18px;
}


.buy {
	position: absolute;
	right: 150px;
	bottom: 25px;
}


.button {
	width: auto;
	height: 35px;
	background-color: #F6F6F6;
	border-radius: 30px;
	outline: none;
	border: none;
}

.button p {
	font-size: 15px;
	padding: 0px 20px 0px 20px;
	margin: 0px;
	color: #2F2F2F;
	font-weight: 700;
	font-family: "Lato";
}

.button-border {
	width: auto;
	height: 35px;
	background-color: transparent;
	border-radius: 30px;
	outline: none;
	border: 2px solid #F6F6F6;
}

.button-border p {
	font-size: 15px;
	padding: 0px 20px 0px 20px;
	margin: 0px;
	color: #F6F6F6;
	font-weight: 700;
	font-family: "Lato";
}

.bottom .button-border {
	position: absolute;
	right: 40px;
	bottom: 25px;
}

.button-tag {
	width: auto;
	height: 30px;
	background-color: #2F2F2F;
	border-radius: 30px;
	outline: none;
	border: none;
	margin-right: 10px;
	margin-top: 10px;
	transition: 0.2s;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
				0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11), 
				0 6px 8px rgba(0,0,0,0.11),
				0 8px 16px rgba(0,0,0,0.11);
}

.button-tag:hover {
	cursor: pointer;
	margin-right: 9px;
	transition: 0.2s;
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			 	26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07);
}

.button-tag p {
	width: auto;
	padding: 0px 15px; 
	margin: 0px;
	color: #F6F6F6;
	font-weight: 700;
	font-size: 15px;
	font-family: "lato";
}

.button-none {
	width: auto;
	height: 32px;
	border-radius: 30px;
	outline: none;
	border: none;
	margin-right: 10px;
	margin-top: 10px;
	transition: 0.2s;
	background-color: transparent;
}

.button-none p {
	width: auto;
	padding: 0px 20px; 
	margin: 0px;
	color: #2f2f2f;
	font-weight: 700;
	font-size: 15px;
	font-family: "lato";
}

.button-none:hover {
	cursor: pointer;
	margin-top: 9px;
}

.button-none__clicked {
	background-color: #2f2f2f;
}

.button-none__clicked p {
	color: white;
}




/* 	SIDE BAR 	*/

.side-panel {
	font-family: "Lato";
	font-size: 14px;
	position: absolute;
	right: 18%;
	top: 55%;
}

.side-panel_entry {
	margin-top: 70px;
}

.side-panel_entry h3 {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 15px;
	margin-left: 5px;
}

.side-panel_entry div {
	display: flex;
	flex-direction: column;
}


/*	CONTENT CARD	*/

.content {
	margin-left: 15%;
	margin-top: 2%;
	margin-bottom: 3%;
}

.content-buttons {
	margin-left: 5%;
	margin-bottom: 2%;
}

.card {
	width: 65%;
	height: auto;
	padding: 50px;
	margin-top: 20px;
	background-color: white;
	border-radius: 25px;
	transition: 0.3s;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
				0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11), 
				0 6px 8px rgba(0,0,0,0.11),
				0 8px 16px rgba(0,0,0,0.11);
}

.card:hover {
	transition: 1s;
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			 	26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07);
}

/* 	DATA TABLE	*/



.data-table {
    font-size: 13px;
    font-family: "Roboto Mono";
    font-weight: 300;
    border-spacing: 50px 8px;
		text-align: center;
		overflow: scroll;
}

.data-table tr{
    margin-left: 20px;
}


/*	CODE CARDS	*/

.code-card {
    position: relative;
		font-family: "Lato";
}

.code-card h3 {
	font-weight: 700;
	font-size: 18px;
	color: black;
	text-decoration: underline;
	text-decoration-color: black;
}

.code-card p {
	margin-top: 10px;
	margin-left: 15px;
}

.code-author {
	font-size: 13px;
	margin-left: 15px;
	margin-top: 10px;
}


/*		HEADER		*/

.header{
	position: absolute;
	display: flex;
	flex-direction: row;
	height: auto;
	width: 80%;
	top: 30px;
	margin-left: 5%;
}

.logo {
	width: 10%;
	left: 5%;
	margin-top: 8px;
	cursor: pointer;
	transition: 0.2s;
}

.logo:hover {
	width: 10.5%;
	transition: 0.2s;
}

.search {
	position: absolute;
	left: 40%;
	border: none;
	outline: none;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
				0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11), 
				0 6px 8px rgba(0,0,0,0.11),
				0 8px 16px rgba(0,0,0,0.11);
	height: 35px;
	width: 41%;
	padding: 10px 30px;
	font-family: "lato";
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s;
}

.search:hover {
	transition: 0.2s;
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
			    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		 			 		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		   			 	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			 				26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			  		  64px 66px 80px rgba(0, 0, 0, 0.07);
}

.search-icon {
	height: 15px;
	position: absolute;
	left: 78%;
	margin-top: 10px;
}

.avatar {
	height: 20px;
	width: 20px;
	border-radius: 30px;
	image-fit: contain;
	background-color: white;
}

.sign-up,
.log-in {
	font-family: "Lato";
	font-weight: 400;
	font-size: 15px;
	text-decoration: none;
	color: #2f2f2f;
	position: absolute;
	left: 85%;
	top: 10px;
}

.log-in {
	left: 90%;
	font-weight: 700;

}



/*		FOOTER		*/

.footer-simple {
	width: 60%;
	display: flex;
	flex-direction: row;
	margin-left: 20%;
	margin-bottom: 2%;
}

.footer-simple img {
	width: 15px;
}

.footer-simple p {
	margin-left: 10px;
	margin-top: 2px;
}

.footer-simple a {
	font-family: "Lato";
	font-weight: 400;
	font-size: 13px;
	text-decoration: none;
	color: black;
	margin-left: 30%;
}

.footer-simple a:hover {
	text-shadow:0px 0px 0.5px black;
}
